/* latin-ext */
@font-face {
	font-family: 'Nunito-Regular';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: local('Nunito-Regular'), local('Nunito-Regular'), url('Nunito-Regular.ttf') format('woff2');
}
/* Bold */
@font-face {
	font-family: 'Nunito-Bold';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: local('Nunito-Bold'), local('Nunito-Bold'), url('Nunito-Bold.ttf') format('woff2');
}
/* Bold Italic */
@font-face {
	font-family: 'Nunito-BoldItalic';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: local('Nunito-BoldItalic'), local('Nunito-BoldItalic'), url('Nunito-BoldItalic.ttf') format('woff2');
}
/* Italic */
@font-face {
	font-family: 'Nunito-Italic';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: local('Nunito-Italic'), local('Nunito-Italic'), url('Nunito-Italic.ttf') format('woff2');
}
/* SemiBold */
@font-face {
	font-family: 'Nunito-SemiBold';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: local('Nunito-SemiBold'), local('Nunito-SemiBold'), url('Nunito-SemiBold.ttf') format('woff2');
}

/* SemiBold */
@font-face {
	font-family: 'Nunito-Light';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: local('Nunito-Light'), local('Nunito-Light'), url('Nunito-Light.ttf') format('woff2');
}