.logo-login {
	width: 200px;
	margin-bottom: 10px;
}

.logo-topbar {
	height: auto !important;
	width: 200px;
	margin-top: 5px;
}
.select2-container {
	width: 100% !important;
}

.select2-selection__rendered {
	line-height: 30px;
}

.select2-container .select2-selection--single {
	height: 38px !important;
	padding-top: 4px !important;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	height: 34px;
}
.row {
	padding-top: 10px;
}
.form-control.parsley-error {
	border-color: #ea3a3a;
}

ul.parsley-errors-list {
	margin: 5px 0 0;
	padding-left: 15px;
}

ul.parsley-errors-list li {
	color: #fd0d0d;
	list-style: none;
}
