.row-header{
	background-color: #28448f;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.row-page-module{
	background-color: #f7f7f7;
	padding: 10px;
}

ul.list-group li.list-group-item{
	cursor: pointer;
	font-size: 14px;
	border-radius: 0;
}

.list-group-item{
	color: black;
}

li.list-group-item.active a{
	color: black !important;
}

li.list-group-item.active a:hover{
	color: white !important;
}

ul.list-group li.list-group-item:hover{
	background-color: #28448f;
	color: white;
}

li.list-group-item.active{
	border-radius: 0;
	background-color: #28448f;
}

.col-left-menu{
	background-color: #f7f7f7; 
	padding: 0.75rem 1.25rem;
	border: 1px solid #e3dddd;
}

.toggle-show-hide{
	position: absolute;
	top: 12px;
	right: 25px;
	cursor: pointer;
}

.toggle-show-hide-sub{
	position: absolute;
	top: 12px;
	right: 15px;
	cursor: pointer;
}

li.list-group-module a{
	color: black;
}

.list-group-module a li.list-group-item.active{
	color: white !important;
}

.list-group-item {
	position: relative;
	display: inline-block;
	padding-right: 0;
	padding-left: 0;
	width: 100%;
}

.dropdown-content {
	display: none;
	position: initial;
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-top: 10px;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	width: 100%;
}

.dropdown-content a:hover {
	background-color: #28448f;
	color: white;
}

.list-group-item:hover .dropdown-content {
	display: block;
	color: white;
}

.module-name{
	padding-left: 15px;
	padding-right: 15px;
}

#chevron-toggle-sub{
	position: absolute;
	right: 15px;
	top: 17px;
}
    
@media all and (min-width: 992px) {
	div.row-header{
        text-align: left;
    }
}
@media all and (max-width: 992px) {
	div.row-header{
        text-align: center;
    }
}