img.d-block{
	object-fit: contain;
	object-position: center;
	height: auto;
	width: 100%;
}

section#section2{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fafafa;
}

section#section2 img.img-section2{
	height: 120px !important;
	width: auto;
	margin-bottom: 20px;
}

p.title-section2{
	font-size: 30px;
	margin-bottom: 2rem;
}

@media all and (max-width: 992px) {
	div.owl-carousel-news div.owl-dots{
		display: none;
	}

	.title-dreams{
		background-color: #f24940;
		color: white;
		font-weight: bold;
		position: absolute;
		padding: 10px;
		left: 0;
		width: 100%;
		bottom: 35%;
		font-size: 17px;
		text-align: left;
		opacity: 80%;
	}

	/*div.owl-carousel-news div.owl-item{
		padding: 0;
		margin: 0;
		width: 25% !important;
		margin-right: 0;
		margin-left: 0;
	}

	div.owl-carousel-news div.owl-item.active{
		padding: 0;
		margin: 0;
		width: 25% !important;
		margin-right: 0;
		margin-left: 0;
	}

	div.owl-carousel-news div.owl-item.active.center{
		padding: 0;
		margin: 0;
	}*/
}

@media all and (min-width: 992px) {
	div.owl-carousel-news div.owl-dots{
		display: block;
	}

	.title-dreams{
		background-color: #f24940;
		color: white;
		font-weight: bold;
		position: absolute;
		padding: 10px;
		left: 0;
		width: 70%;
		bottom: 35%;
		font-size: 30px;
		text-align: left;
		opacity: 80%;
	}

}

@media only screen and (max-width: 576px) {
	img.d-block{
		object-fit: contain;
		object-position: center;
		/*height: 200px !important;*/
		width: 100%;
	}
}
@media only screen and (min-width: 576px) {
	img.d-block{
		object-fit: contain;
		object-position: center;
		/*height: 250px !important;*/
		width: 100%;
	}
}
@media only screen and (min-width: 768px) {
	img.d-block{
		object-fit: contain;
		object-position: center;
		/*height: 350px !important;*/
		width: 100%;
	}
}
@media only screen and (min-width: 992px) {
	img.d-block{
		object-fit: contain;
		object-position: center;
		/*height: 400px !important;*/
		height: 100% !important;
		width: 100%;
	}
}
@media only screen and (min-width: 1024px) {
	img.d-block{
		object-fit: contain;
		object-position: center;
		/*height: 450px !important;*/
		height: 100% !important;
		width: 100%;
	}
}