.font-13{
    font-size: 13px;
}

.input-simulation {
    width: 100%; 
    font-size: 14px;
}

span.box-simulation{
    font-size: 13px;
    background-color: #cccccc;
    padding: 10px;
    border-radius: 20px; 
    padding-left: 20px; 
    padding-right: 20px; 
    cursor: pointer;
    color: #707070;
}

span.box-simulation.show{
    background-color: white;
}

li.navbarDropdown:hover{
    background-color: #edeff5;
}

table.table-sbdk thead tr td{
    font-size: 13px;
    padding: 5px !important;
}

table.table-sbdk tbody tr td{
    background-color: white;
    border-color: 1px solid gray;
    color: black;
    font-size: 13px;
    padding: 5px !important;
}

table.table-kurs thead tr td{
    font-size: 13px;
    padding: 5px !important;
}

table.table-kurs tbody tr td{
    background-color: white;
    border-color: 1px solid gray;
    color: black;
    font-size: 13px;
    padding: 5px !important;
}

div.submenu-child-tree{
    position: absolute;
    display: table;
    /*left: 250px;*/
    left: 260px;
    top: 0;
    display: none;
    width: 250px !important;
    bottom: 0;
    height: 400px;
    margin-top: -20px;
    /*background-color: #edeff5;*/
    padding-top: 20px;
}

div.row-child-two:hover div.submenu-child-tree {
    display: block !important;
}

div.submenu-child-four{
    position: absolute;
    display: table;
    left: 250px;
    top: 0;
    display: none;
    width: 250px !important;
    bottom: 0;
    height: 400px;
    padding-top: 20px;
}

div.row-child-tree:hover div.submenu-child-four {
    display: block !important;
}

img.img-nav-right{
    width: auto; 
    height: 30px;
}

div.navbarDropdown {
    background-color: transparent;
}

div.navbarDropdown a.parent{
    color: black !important;
}

div.navbarDropdown.show {
    background-color: #edeff5;
}

nav.shift ul li.navbarDropdown.show a.parent{
    color: #243E8B !important;
}

div.row-child.show{
    background-color: #edeff5;
    color: black;
}

div.row-child.show a.child-1{
    color: #243E8B;
}

div.row-child{
    background-color: transparent;
    color: black;
}

div.row-child.show{
    background-color: #edeff5;
    color: black;
}

div.row-child.show a.child-1{
    color: #243E8B;
}

div.row-child-two{
    background-color: transparent;
}

div.row-child-two.show{
    background-color: #edeff5;
}

div.row-child-two a.child-2{
    color: black;
}

div.row-child-two.show a.child-2{
    color: #243E8B;
}

div.row-child-tree{
    background-color: transparent;
}

div.row-child-tree.show{
    background-color: #edeff5;
}

div.row-child-tree a.child-2{
    color: black;
}

div.row-child-tree.show a.child-2{
    color: #243E8B;
}

@media only screen and (max-width: 992px) {
    nav.shift{
        display: none;
    }

    .input-group-mobile{
        border: none;
        background-color: #213e8b !important;
        border-bottom: none;
        color: white;
        border-radius: 0;
    }

    nav.shift-mobile{
        display: block;
        background-color: #243E8B;
        padding-bottom: 20px;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1000;
        overflow-y: scroll;
    }

    nav.shift-mobile div.card-body a :hover{
        color: white;
    }

    #input-search-mobile{
        background-color: #213e8b;
        color: white;
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    #input-search-mobile::placeholder{
        color: #e8dbdb;
    }

    #icon-search{
        display: none;
    }

    ul.list-group-navbar-mobile{
        border-bottom: 1px solid gray;
    }

    ul.list-group-navbar-mobile li.list-group-item{
        background-color: #213e8b;
        color: #e8dbdb;
        font-size: 16px;
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 1px solid gray;
    }

    ul.list-group-navbar-mobile li.list-group-item:hover{
        background-color: #132c79;
    }

    ul.show{
        display: block !important;
    }

    /*Web Mobile*/
    li.item-menu:hover ul#menu-child-mobile-header{
        display: block !important;
    }

    ul#menu-child-mobile-header li.list-group-item:hover ul#menu-sub-child-mobile-header{
        display: block !important;
    }

    ol.carousel-indicators{
        display: none;
    }

    .row-socialize{
        text-align: center;
    }

    div.row-page-module{
        display: none;
    }
}

@media all and (min-width: 992px) {
    ol.carousel-indicators{
        display: block;
    }

    nav.shift{
        display: block;
    }

    nav.shift-mobile{
        display: none;
    }

    .dropdown{
        position: absolute;
        right: 10%;
        left: 10%;
        z-index: 4;
    }

    nav.shift ul li:hover .dropdown{
        /*display: block !important;*/
    }

    .subchild{
        position: absolute;
        top: 10px;
        /*right: 15px;*/
        right: 10px;
    }

    div.submenu-child{
        position: absolute;
        left: 250px;
        top: 0;
        display: none;
        /*width: 250px !important;*/
        width: 260px !important;
        bottom: 0;
    }

    div.row-child{
        width: 250px;
        background-color: white;
    }

    div.row-child a{
        padding : 10px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    div.row-child a:hover{
        background-color: #edeff5;
    }

    div.row-child:hover div.submenu-child{
        display: block;
    }
    
    div.submenu-child a{
        color: white;
    }

    li#navbarDropdown:active div.dropdown{
        display: block;
    }

    section.section-navbar{
        width: 100%; 
        padding-top: 2px; 
        padding-left: 70px;
    }

    nav.shift {
        width: 100%;
        margin: 0 auto;
        background: #fff;
    }

    nav.shift ul {
        list-style: none;
        text-align: left;
        padding: 0;
        margin : 0;
    }
    nav.shift ul li {
        display: inline-block;
    }
    nav.shift ul li.navbarDropdown a {
        display: block;
        padding: 15px;
        text-decoration: none;
        /*color: black;*/
        color: #243E8B;
        /*font-weight: 800;*/
        /*font-weight: 100;*/
        /*text-transform: uppercase;*/
        margin: 0;
    }
    nav.shift ul li a,
    nav.shift ul li a:after,
    nav.shift ul li a:before {
        transition: all 0s;
    }

    nav.shift ul li:active{
        background: #edeff5;
        color: #243E8B !important;
    }

    nav.shift ul li:focus{
        background: #edeff5;
        color: #243E8B !important;
    }

    nav.shift ul li a:hover {
        color: #243E8B !important;
        text-decoration: none;
    }

    nav.shift ul li a {
        position:relative;
        z-index: 1;
        padding: 10;
        font-size: 13px !important;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        margin-left: 10px;
        margin-right: 10px;
    }

    nav.shift ul li a:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        width: 100%;
        height: 1px;
        content: '';
        color: white !important;
        background: transparent;
        visibility: none;
        opacity: 0;
        z-index: -1;
        border-bottom: 4px solid red;
    }

    nav.shift ul li a:hover:after {
        opacity: 1;
        visibility: visible;
        height: 100%;
    }

    .row-socialize{
        text-align: right;
    }
    
    div.row-page-module{
        display: block;
    }

    /* Keyframes */
    @-webkit-keyframes fill {
        0% {
            width: 0%;
            height: 1px;
        }
        50% {
            width: 100%;
            height: 1px;
        }
        100% {
            width: 100%;
            height: 100%;
            background: #333;
        }
    }

    /* Keyframes */
    @-webkit-keyframes circle {
        0% {
            width: 1px;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            height: 1px;
            z-index: -1;
            background: #eee;
            border-radius: 100%;
        }
        100% {
            background: #aaa;
            height: 5000%;
            width: 5000%;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 0;
        }
    }
}