body{
    font-family: 'Nunito-Light' !important;
}

span, p{
    font-family: 'Nunito-Light' !important;
}

.row-footer{
    background-color: #EBEBEB;
    position: relative;
}

.font-14{
    font-size: 14px;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: grey;
    opacity: 0.9;
}
.preloader .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.img-logo{
    height: 40px; 
    width: auto;
}

.header-fixed{
    box-shadow: 0px 1px 3px 1px #dfdfde;
    position: fixed;
    z-index: 1;
    background: white;
    width: 100%;
}

.d-padding{
    padding: 0px !important;
}

.d-pad-10{
    padding: 10px;
}

.d-padtop-10{
    padding-top: 10px;
}

.d-padbot-10{
    padding-bottom: 10px;
}

.d-padtop-20{
    padding-top: 20px;
}

.d-mar-10{
    margin: 10px;
}

.d-martop-10{
    margin-top: 10px !important;
}

.f-bold{
    font-weight: bold;
}

.f-black{
    color: black !important;
}

.f-gray{
    color: rgba(0, 0, 0, 0.5) !important;
}

li.nav-item a.nav-link {
    font-size: 17px;
}

.bg-light {
    background-color: #fff !important;
}

.row-search{
    padding-top: 0px !important;
    padding-right: 10px;
    padding-left: 10px;
}

.t-center{
    text-align: center;
}

.t-default{
    /*color:  #28448f;*/
    color:  #213E8B;
}

.input-group-text{
    background-color: transparent !important;
    border: none;
    cursor: pointer;
}

input#input-search{
    border-left: none;
    background-color: white;
    border-top: none;
    border-right: none;
    text-align: left;
    font-size: 14px;
}

input#input-search:focus {
  color: #495057;
  background-color: #fff;
  border-color: 0 !important;
  outline: 0;
  box-shadow: 0 !important;
}

.icon-search{
    text-align: center;
    padding-top: 10px;
}

a.language{
    color: gray;
    text-decoration: none;
}

a.language:hover{
    color: #28448f;
}

nav.navbar{
    padding-top: 10px !important;
    padding-bottom: 15px !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px !important;
}

div.row-language{
    text-align: right;
    margin-top: 10px;
    z-index: 3;
}

div.row-language a.active{
    font-weight: bold;
    color: #28448f;
}

div.row-module-detail{
    position: absolute; 
    width: 100%; 
    z-index: 2;
    display: none;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 20px;
    left: 0;
}

span.row-language-mobile{
    border: none; 
    cursor: none; 
    font-size: 14px; 
    padding: 0; 
    position: absolute; 
    right: 85px; 
    top: 25px;
}
span.row-language-mobile a.active{
    font-weight: bold;
    color: #28448f;
}

.seperator{
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #9a9a9a;
    line-height: 21px;
    height: 21px;
    margin: 0 5px;
}

footer.footer{
    margin-top: 50px;
    margin-bottom: 20px;
}

.card-module.active{
    color: white;
    background-color: #28448f;
}

span.times{
    font-size: 25px;
    /*position: absolute;*/
    /*top: 31px;*/
    /*right: 15px;*/
    cursor: pointer;
    float: right;
    padding-right: 20px;
}

.card-module-detail{
    border-radius: 0;
    background-color: #28448f;
    color: white;
    margin-top: 25px;
}

footer div.d-padtop-10{
    padding-bottom: 0px !important;
    text-align: right !important;
}

div.row-footer-bg{
    background-color: #EBEBEB;
}
/* scrollup */

.scrollup{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: fixed;
    bottom: 60px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #243E8B;
    padding-left: 13px;
    padding-top: 8px;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: black;
    opacity: 1;
}

.scrollup a{
    color: white;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: white;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;
}

@media all and (max-width: 992px) {
    div#module-right{
        text-align: center;
        float: none;
        width: 100%;
        color: #28448f !important;
        font-size: xx-large !important;
        position: fixed;
        bottom: 0 !important;
        background-color: white;
        z-index: 100;
    }

    div.row-copyright{
        width: 100%;
        border-radius: 0;
        text-align: center;
        float: right;
        height: auto;
        background-color: #FF0000;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    div.row-copyright span{
        color: white !important;
    }

    div.row-footer-bg{
        padding-bottom: 80px;
    }

    .row-otoritas{
        text-align: left;
    }

    div.card-module-network{
        display: block;
        position: absolute;
        width: 100%;
    }

    div.card-module-sbdk{
        display: none;
        position: absolute;
        width: 100%;
    }

    div.card-module-kurs{
        display: none;
        position: absolute;
        width: 100%;
    }

    div.card-module-simulasi{
        display: none;
        position: absolute;
        width: 100%;
    }
}

@media all and (min-width: 992px) {
    div.row-copyright{
        background-color: #FF0000;
        color: white;
        padding-top: 7px;
        padding-bottom: 15px !important;
        width: 70%;
        border-radius: 75px 0 0 0;
        text-align: right;
        float: right;
        height: 40px;
        padding-right: 15px;
    }

    div#module-right{
        text-align: center;
        float: right;
        width: 80px;
        position: fixed;
        right: -80px;
        z-index: 1;
        margin-top: 25px;
    }

    div.row-footer-bg{
        padding-bottom: 0;
    }

    .row-otoritas{
        text-align: center;
    }

    div.card-module-network{
        display: block;
    }

    div.card-module-sbdk{
        display: none;
    }

    div.card-module-kurs{
        display: none;
    }

    div.card-module-simulasi{
        display: none;
    }
}
@media only screen and (max-width: 576px) {
    section#section1{
        padding-top: 0px;
    }

    .img-logo{
        height: 20px !important; 
        width: auto;
    }   

    /*div#module-right{
        text-align: center;
        float: none;
        width: 100%;
        color: #28448f !important;
        font-size: xx-large !important;
        position: fixed;
        bottom: 0 !important;
        background-color: white;
        z-index: 100;
    }*/

    div#module-right p{
        font-size: 12px;
        margin-top: 0   ;
        margin-bottom: 0 !important;
    }

    .card-module{ 
        border: 1px solid #dfdfde;
        padding:0;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
        box-shadow: 0px 1px 3px 1px #dfdfde;
    }

    .card-module:hover{
        color: white;
        background-color: #28448f;
    }

    a.nav-link:hover{
        color: #28448f;
    }

    .header-fixed{
        position: fixed;
    }

    .card-module-detail{
        position: fixed;
        width: 100%;
        right: 0;
        top: auto;
        /*overflow-y: scroll;*/
    }

    footer div.d-padtop-10{
        padding-bottom: 20px !important;
        text-align: center !important;
    }

    div.row-search{
        padding-bottom: 20px !important;
    }

    div.row-language{
        display: none;
    }

    div.footer-location{
        text-align: left;
    }

    div.footer-location h4{
        font-size: 20px !important;
    }

    div.row-footer-module{
        padding-top: 20px;
    }

    footer.footer div.row-footer-module{
        text-align: center !important;
        font-size: 14px !important;
    }
}
@media only screen and (min-width: 576px) {
    section#section1{
        padding-top: 0px;
    }

    /*div#module-right{
        text-align: center;
        float: none;
        width: 100%;
        color: #28448f !important;
        font-size: xx-large !important;
        position: fixed;
        bottom: 0 !important;
        background-color: white;
        z-index: 100;
    }*/

    div#module-right p{
        font-size: 12px;
        margin-top: 0   ;
        margin-bottom: 0 !important;
    }

    .card-module{ 
        border: 1px solid #dfdfde;
        padding:0;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
        box-shadow: 0px 1px 3px 1px #dfdfde;
    }

    .card-module:hover{
        color: white;
        background-color: #28448f;
    }

    a.nav-link:hover{
        color: #28448f;
    }

    .header-fixed{
        position: fixed;
    }

    div.footer div.d-padtop-10{
        padding-bottom: 40px;
    }

    .card-module-detail{
        position: fixed;
        width: 100%;
        right: 0;
        top: auto;
        /*overflow-y: scroll;*/
    }

    .img-logo{
        height: 30px !important;
    }

    div.row-search{
        padding-bottom: 20px !important;
    }

    div.row-language{
        display: none;
    }

    div.footer-location{
        text-align: left;
    }

    div.footer-location h4{
        font-size: 20px !important;
    }

    div.row-footer-module{
        padding-top: 20px;
    }

    div.footer div.row-footer-module{
        text-align: center !important;
        font-size: 14px !important;
    }

    div.footer{
        margin-bottom: 100px !important;
    }

    div.footer div.d-padtop-10{
        text-align: center !important;
    }
}
@media only screen and (min-width: 768px) {
    section#section1{
        padding-top: 0px;
    }

    /*div#module-right{
        text-align: center;
        float: none;
        width: 100%;
        color: #28448f !important;
        font-size: xx-large !important;
        position: fixed;
        bottom: 0 !important;
        background-color: white;
        z-index: 100;
    }*/

    div#module-right p{
        font-size: 12px;
        margin-top: 0   ;
        margin-bottom: 0 !important;
    }

    .card-module{ 
        border: 1px solid #dfdfde;
        padding:0;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
        box-shadow: 0px 1px 3px 1px #dfdfde;
    }

    .card-module:hover{
        color: white;
        background-color: #28448f;
    }

    a.nav-link:hover{
        color: #28448f;
    }

    .header-fixed{
        position: fixed;
    }

    div.row-footer-module{
        padding-top: 20px;
    }

    div.row-language{
        display: none;
    }
}
@media only screen and (min-width: 992px) {
    section#section1{
        padding-top: 70px;
    }

    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: 13px;
    }

    div#module-right p{
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 0 !important;
    }

    #module-right{
        color: #28448f !important;
        font-size: xx-large !important;
    }

    .card-module{ 
        border: 1px solid #dfdfde;
        padding-left:0px !important;
        padding-right: 0px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        cursor: pointer;
        box-shadow: 0px 0px 3px 0px #dfdfde;
    }

    .card-module:hover{
        color: white;
        background-color: #28448f;
    }

    a.nav-link:hover{
        color: #28448f !important;
    }

    .header-fixed{
        position: fixed;
    }

    .card-module-detail{
        position: fixed;
        right: 80px;
        width: 300px;
        top: auto;
    }

    .img-logo{
        height: 30px !important;
    }

    div.row-language{
        display: flex;
    }

    div.footer-location{
        text-align: left;
    }

    div.footer-location h4{
        font-size: 20px !important;
    }

    div.row-footer-module{
        padding-top: 0 !important;
    }

    div.footer div.row-footer-module{
        text-align: left !important;
        font-size: 16px !important;
    }

    div.footer{
        margin-bottom: 20px !important;
    }

    div.footer div.d-padtop-10{
        text-align: left !important;
    }
}

@media only screen and (min-width: 1024px) {
    .img-logo{
        height: 30px !important;
    }

    section#section1{
        padding-top: 70px;
    }
    
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: 14px;
    }

    div#module-right p{
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 0 !important;
    }

    #module-right{
        color: #28448f !important;
        font-size: xx-large !important;
    }

    .card-module{ 
        border: 1px solid #dfdfde;
        padding-left:0px !important;
        padding-right: 0px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        cursor: pointer;
        box-shadow: 0px 0px 3px 0px #dfdfde;
        background-color: white;
    }

    .card-module:hover{
        color: white;
        background-color: #28448f;
    }

    a.nav-link:hover{
        color: #28448f !important;
    }

    .header-fixed{
        position: fixed;
    }

    .card-module-detail{
        position: fixed;
        right: 80px;
        width: 300px;
        top: auto;
    }

    div.row-language{
        display: flex;
    }

    div.footer-location{
        text-align: left;
    }

    div.footer-location h4{
        font-size: 20px !important;
    }

    div.row-footer-module{
        padding-top: 0 !important;
    }
    
    div.footer div.row-footer-module{
        text-align: left !important;
        font-size: 16px !important;
    }

    div.footer{
        margin-bottom: 20px !important;
    }

    div.footer div.d-padtop-10{
        text-align: left !important;
    }
}